header{
    padding-top: 5px;
    background-color:rgba(235,217,198, 0.1);
}
header h1{
    color: #ffffff;
    text-align: center;
}
body{
    background-image: url("blurred-background.jpeg");
    padding-top: 5px;
    margin-top: 5px;
}
nav a{
    display: inline-block;
    width:15%;
    height:50px;
    background-color: rgba(242,242,242,0.25);
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 25px;
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
}
.active{
    background-color: rgba(235,217,198,0.75);
}
nav a:hover{
    background-color: rgba(235,217,198,0.5);
}
#box{
    display: inline;
    position: absolute;
    left:25%;
    top:35%;
    clear: none;
    background-color:rgba(235,217,198, 0.4);
    height: 40%;
    width: 50%;
}