<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/style.css">
    <head>
        <title>Welcome to the Den</title>
    </head>
    <body>
    <div id="box1">
        
    </div>
    <p id="motto">Don't just stay, live.</p>
    <div id="box">
        <p id="tit">Identity verification</p><br>
        <p id="scanner-text">The purpose of this check is to verify your identity. Please present your proof of ID to the scanner.</p>
    </div>   
    <div id="right">

    </div> 
    </body>
</html>