<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/cssBlindDate.css">
    <head>
        <title>Welcome to the Den</title>
    </head>
    <body>
    <p id="motto">Don't just stay, live.</p>
    <div id="box">
        <p id="tit">Would you like Savy assistance?</p><br>
        <audio src="assets/SampleAudio.mp3" controls loop="loop" id="aud">
        </audio>
        <br>
        <input type="button" value="Yes, I think Savy assistance is cool!" style="margin-left: 100px; height: 30px;" onclick="window.location.href='BlindDate.html'">
        <input type="button" value="No, I'll stick to the usual" style="margin-left: 100px; height: 30px;" onclick="window.location.href='NormalDate.html'">
    </div>   
    <div id="right">

    </div> 
    </body>
</html>