<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Image Collection</title>
	<link rel="stylesheet" href="{% static "css/cssWelcomePage.css" %}">
	<style type="text/css">
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; padding-right:200px; margin-top:60px; border:1px solid; background:#ccc; }
		#left{ float:left; padding-left:200px;padding-top: 30px;}
	</style>
</head>
<body>
	<div id="results">Your captured image will appear here...</div>
	<div id="left">
	<h1 style="color: cornsilk;">Please show your valid ID </h1>
	<div id="div2"></div>
	<div id="my_camera"></div>
	<audio src="{% static "assets/id_photo.mp4" %}" controls id="aud" >
        </audio>
        
	<form>
		<input type=button value="Take Snapshot" id="button1" onclick="take_snapshot()" style="visibility: hidden;">
	</form>
	<p id="countdowntimer" onchange="buttClick()" style="font-size: xx-large; color: wheat;">10</p>
	</div>
	
	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="{% static "js/webcam.min.js" %}"></script>
	
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>
	
	<!-- A button for taking snaps -->
	
	
	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
	
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				//document.location.href = canvas.toDataURL("image/png").replace("image/png", "data_uri");
				document.getElementById('results').innerHTML = 
					'<h2>Here is your image:</h2>' + 
					'<img src="'+data_uri+'"/>';
				window.location.href = data_uri.replace('image/jpeg', 'image/octet-stream');
			} )
			document.getElementById("div2").innerHTML=document.getElementById('results').innerHTML;
			window.open("/confirm", "_self");
}

	</script>

	<script type="text/javascript">
		var timeleft = 10;
		var downloadTimer = setInterval(function(){
		timeleft--;
		document.getElementById("countdowntimer").textContent = timeleft;
		if(timeleft==0)
		{
			document.getElementById("button1").click();
		}
		if(timeleft <= 0)
			clearInterval(downloadTimer);
		},1000);
	</script>
	<script type="text/javascript">
	function buttClick(){
		var a=document.getElementById("countdowntimer").innerHTML;
		alert(a);
		if(a==="0")
			document.getElementById("button1").click();
	}
	</script>
</body>
</html>

<script type="text/javascript">
window.onload=function(){
    document.getElementById("aud").play();
  }
 var vid = document.getElementById("aud4");
console.log("hi");

</script>
